<img class='modal__img--small' src={{data.images.0.url}} alt={{data.name}} />
<div class='modal__positions'>
  <img class='modal__img--big' src={{data.images.0.url}} alt='big' />
  <div class='modal__lists'>

    <ul class='modal__list'>
      {{#if this.data.info}}
        <li class='modal__item'>
          <h2 class='modal__info'>INFO</h2>
          <p class='modal__info--text'>
            {{this.data.info}}
          </p>
        </li>
      {{/if}}
      {{#if this.data.dates}}
        <li class='modal__item'>
          <h2 class='modal__info'>WHEN</h2>
          <p class='modal__info--text'>{{this.data.dates.start.localDate}}</p>
          <p class='modal__info--text'>{{this.data.dates.start.localTime}}
            ({{this.data.dates.timezone}})</p>
        </li>
      {{/if}}
      <li class='modal__item'>
        <h2 class='modal__info'>WHERE</h2>
        <p
          class='modal__info--text'
        >{{this.data._embedded.venues.0.timezone}}</p>
        <p class='modal__info--text'>{{this.data._embedded.venues.0.name}}</p>
      </li>
      <li class='modal__item'>
        <h2 class='modal__info'>WHO</h2>
        <p class='modal__info--text js-who'>{{this.data._embedded.attractions.0.name}}</p>
      </li>
    </ul>
    <ul class='modal__list'>
      {{#if this.data.priceRanges}}
        <li class='modal__item'>
          <h2 class='modal__info'>PRICES</h2>
          <div>
            {{! <svg class='icon icon-close' width='26' height='1'>
              <path
                d='M5.02 1.569H0v30.118h5.02V1.569zM17.645 1.569h-5.02v30.118h5.02V1.569zM25.25 1.569h-5.019v30.118h5.019V1.569zM45.177 1.569h-7.453v30.118h7.453V1.569zM10.039 1.569H7.605v30.118h2.434V1.569zM30.118 1.569h-2.434v30.118h2.434V1.569zM35.137 1.569h-2.434v30.118h2.434V1.569z'
              ></path>
            </svg> }}
            <p class='modal__info--prices'>Standart
              {{this.data.priceRanges.0.min}}-{{this.data.priceRanges.0.max}}
              {{this.data.priceRanges.0.currency}}</p>
          </div>

          <a
            href={{this.data.url}}
            target='_blank'
            rel='noreferrer noopener nofollow'
            class='modal__btn--buy'
          >BUY TICKETS</a>
        </li>
      {{/if}}
      {{! <li class='modal__item'>
        <p class='modal__info--prices'>VIP 1000-1500 UAH</p>
        <button class='modal__btn--buy'>BUY TICKETS</button>
      </li> }}
    </ul>
  </div>
</div>